<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta charset="utf-8">
    <title><%- htmlWebpackPlugin.options.metadata.title %></title>
    <meta name="description" content="When you need help splitting invoices between multiple parties with multiple amounts of payment. This tool is for you.">
    <meta name="keywords" content="Invoice, Family, Party, Balance, Bill">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mike Reiche">
    <base href="<%- htmlWebpackPlugin.options.metadata.baseUrl %>">
    <!-- imported CSS are concatenated and added automatically -->
  </head>
  <body aurelia-app="main">
  </body>
</html>
